<!doctype html>
<html>

<head>
    <title>Citrusoft TrainNet 2.1</title>

    <h2>TrainNet Panel v2</h2>  

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
    <script type=text/javascript> $(function() { $("#startbutton").click(function (event) { $.getJSON('/start', { },
    function(data) { }); return false; }); }); </script> 
 <script type=text/javascript> $(function() { $("#stopbutton").click(function (event) { $.getJSON('/stop', { },
    function(data) { }); return false; }); }); </script> 
</head>

<body>        
        <input type = "button" id = "startbutton" value = "Start" />
	<input type = "button" id = "stopbutton" value = "Stop" />
</body>    

</html>
